<header class="header">
    <div class="logo">
        <img src="./assets/images/logo.png" class="logo__img" alt="logo AirBNB">
    </div>
    <nav class="menu">
        <ul class="menu__list">
            <li class="menu__item">
                <a href="#" class="menu__link" title="Buscar">Buscar</a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link" title="Regístrate">Regístrate</a>
            </li>
            <li class="menu__item menu__item--contact">
                <a href="#" class="menu__link" title="Hazte Anfitrión">Hazte Anfitrión</a>
            </li>
        </ul>
    </nav>
</header>
